*
{
	margin: 0px;
    box-sizing: border-box;
	cursor: default;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	background-color: #ccc;
	background: radial-gradient(circle farthest-side, #fff, #ccc);
	background-repeat: no-repeat;
	background-attachment: fixed;
    animation: fadein 2s;
	overflow-y: scroll;
}

.nav-container
{
	display: inline-block;
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	background-image: url(resources/nav.svg) no-repeat 100% 100%;
	filter: drop-shadow(0px 0px 3px #333);
	-webkit-filter: drop-shadow(0px 0px 3px #333);
}

nav
{
	width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    text-shadow: 0px 0px 8px black;
    color: white;
	background-color: #06f;
	background-image: radial-gradient(circle at 25% 0%, rgba(255, 255, 255, .4), transparent);
	mask: url(resources/nav.svg) no-repeat 100% 100%;
	-webkit-mask: url(resources/nav.svg) no-repeat 100% 100%;
	mask-size: cover;
	-webkit-mask-size: cover;
	transition: all .5s;
	user-select: none;
}

.logo
{
	float: left;
	clear: both;
	font-size: 0px;
}

nav.nav-maps
{
	background-color: #06f;
	background-image: radial-gradient(circle at 25% 0%, rgba(255, 255, 255, .4), transparent);
}

nav.nav-data
{
	background-color: #4b1;
	background-image: radial-gradient(circle at 25% 0%, rgba(255, 255, 255, .3), transparent);
}

nav.nav-about
{
	background-color: #d61;
	background-image: radial-gradient(circle at 25% 0%, rgba(255, 255, 255, .2), transparent);
}

/* clear floats */
nav:after
{
    content: "";
    display: table;
    clear: both;
}

.nav-inner-container
{
	float: right;
}

.nav-inner-container:after
{
    content: "";
    display: table;
    clear: both;
}

.nav-inner-container a
{
	float: left;
	padding: 0px 18px;
	color: white;
	text-decoration: none;
	transition: text-shadow 0.2s;
}

.nav-inner-container a:hover
{
    text-shadow: 0px 0px 8px white;
}

.inset-shadow
{
	background: #ccc;
	box-shadow: inset 0 0 4px #333;
	-moz-box-shadow: inset 0 0 4px #333;
	-webkit-box-shadow: inset 0 0 4px #333;
}

.content-container
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 0;
	width: 1000px;
	min-height: 100%;
	margin: auto;
	padding: 140px 0px;
	background: white;
}

content
{
	display: none;
	visibility: hidden;
	width: 100%;
	background: white;
}

h1, h2, h3
{
	padding: 20px 40px;
	font-family: Verdana, Geneva, sans-serif;
	color: black;
}

select
{
	height: 20px;
	border-radius: 2px;
    background: linear-gradient(to right, #f7f7f7, #eee);
}

p
{
	padding: 20px 40px 0px;
	text-align: justify;
	text-justify: inter-character;
	color: black;
}

a
{
	cursor: pointer;
}

.map-container
{
	width: 1000px;
	height: 500px;
	margin: 20px 0px;
	padding: 0px;
}

.select-container
{
	width: 100%;
	margin: 20px;
	padding: 0px 20px;
}

button
{
	display: none;
	float: right;
}

button:after
{
    content: "";
    display: table;
    clear: both;
}

.inset-img
{
	display: table-cell;
    height: 500px;
    width: 1000px;
    vertical-align: middle;
    text-align: center;
}

.bar
{
	fill: steelblue;
}

.axis text
{
	font: 10px sans-serif;
}

.axis path, .axis line
{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path
{
	display: none;
}

.grid line
{
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.grid path
{
	stroke-width: 0;
}

.content-img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 20px;
}

.content-img img
{
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	padding: 0px;
}

.about-final p
{
	text-align: center;
}

footer
{
	position: fixed;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	height: 40px;
    padding: 0px 20px;
    background-color: #999;
	box-shadow: 0 0 8px #333;
	-moz-box-shadow: 0 0 8px #333;
	-webkit-box-shadow: 0 0 8px #333;
	user-select: none;
}

footer:after
{
    content: "";
    display: table;
    clear: both;
}

footer div
{
	float: left;
	width: 40%;
	height: 100%;
	padding: 9px 0px;
    color: white;
}

footer a
{
    color: white;
    text-shadow: 0px 0px 8px black;
	transition: text-shadow 0.2s;
	cursor: pointer;
}

footer a:hover
{
    text-shadow: 0px 0px 8px white;
}

footer a img
{
	filter: drop-shadow(0px 0px 8px black);
	-webkit-filter: drop-shadow(0px 0px 8px black);
	transition: filter 0.2s;
}

footer a:hover > img
{
	filter: drop-shadow(0px 0px 8px white);
	-webkit-filter: drop-shadow(0px 0px 8px white);
}

.info
{
	float: none;
	margin: auto;
	text-align: center;
}

.info img
{
	position: relative;
	z-index: 1;
	filter: drop-shadow(0px 0px 8px black);
	-webkit-filter: drop-shadow(0px 0px 8px black);
	transition: all 0.2s;
}

.info img:hover
{
	filter: drop-shadow(0px 0px 8px white);
	-webkit-filter: drop-shadow(0px 0px 8px white);
}

.modal
{
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	padding: 0px;
	animation: fadeout 1s;
}

.modal div
{
	position: absolute;
	width: 15%;
	height: auto;
	padding: 10px;
	text-align: justify;
	text-justify: inter-character;
}

.info img:hover ~ .modal
{
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	animation: fadein 1s;
}

.signin-container
{
	float: right;
	padding: 6px 0px;
}

.signin-container div
{
	float: right;
	width: 100px;
	height: 28px;
	padding: 0px;
}

.signin-container div div
{
	background: #ccc;
}

#map
{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#gmol-bar
{
	float: right;
	width: 240px;
	margin: 8px;
	padding: 10px;
	border-radius: 2px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#gmol-autoc
{
	width: 100%;
	box-sizing: border-box;
}

#chart
{
	width: 1000px;
	height: 500px;
	margin: 20px 0px;
	padding: 0px;
	fill: none;
	user-select: none;
}

#uig1
{
	top: 85px;
	right: 10px;
}

#uig2
{
	bottom: 40px;
	left: 10px;
}

#uig3
{
	bottom: 40px;
	right: 10px;
}

@keyframes fadein
{
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeout
{
	from { opacity: 1; }
	to { opacity: 0; }
}